@import "./normalize.css";

:root {
  --color-primary: hsl(0, 0%, 75%);
  --color-secondary: rgb(255, 255, 255);
  --color-accent: hsl(257, 27%, 26%);
  --color-footer: hsl(260, 8%, 14%);
  --color-text: hsl(257, 7%, 63%);
  --color-icon-background: hsl(255, 11%, 22%);
  --color-cyan: hsl(180, 66%, 49%);
  --color-warning: hsl(0, 87%, 67%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  color: var(--color-text);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.6;
}

h1,
h2,
h3 {
  color: #333;
  margin: 0;
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 3.5rem;
}

p {
  margin-top: 0;
}

.text--secondary {
  color: var(--color-secondary);
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 5.7rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

/* Links */
a {
  text-decoration: none;
}

.link--text {
  color: var(--color-text);
  transition: color 0.5s;
}

.link--weighted {
  font-weight: 600;
}

.link--text:hover {
  color: #333;
}

/* Buttons */
.btn {
  border: 0;
  color: var(--color-secondary);
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 1.6rem 4rem;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
}

.btn--cyan {
  background: var(--color-cyan);
  transition: background 0.5s ease-out;
}

.btn--cyan:hover {
  background: hsl(180, 52%, 63%);
}

.btn--round {
  border-radius: 30px;
}

.btn--square {
  border-radius: 7px;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.5rem;
    padding: 1.5rem 3.6rem;
  }
}

/* Icons */
.icon {
  width: 20px;
  height: 20px;
}

.icon--large {
  width: 35px;
  height: 35px;
}

.icon--gray {
  filter: invert(70%) sepia(9%) saturate(302%) hue-rotate(217deg)
    brightness(89%) contrast(84%);
  width: 28px;
  height: 28px;
}

.icon--container {
  align-items: center;
  background: var(--color-icon-background);
  border-radius: 100%;
  display: inline-flex;
  height: 75px;
  justify-content: center;
  width: 75px;
}

@media screen and (min-width: 768px) {
  .icon {
    width: 18px;
    height: 18px;
  }

  .icon--large {
    width: 30px;
    height: 30px;
  }

  .icon--container {
    height: 70px;
    width: 70px;
  }
}

/* Inputs */
.input {
  outline: 0;
  border: 0;
  border-radius: 7px;
  padding: 1.6rem 1.7rem;
  width: 100%;
}

::placeholder {
  font-size: 1.7rem;
  font-weight: 500;
  opacity: 0.8;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 0.7rem;
}

.input__warning {
  /*FIXME: input warning*/
  color: var(--color-warning);
  font-style: italic;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .input {
    padding-left: 2.5rem;
  }

  ::placeholder {
    font-size: 1.6rem;
  }

  .input-group {
    flex-direction: row;
    gap: 1.7rem;
    align-items: center;
  }

  .input-group .input {
    flex-grow: 1;
  }
}

/* Blocks */
.block {
  padding: 2rem 2rem;
}

.block--primary {
  background: var(--color-primary);
}

.block--secondary {
  background: var(--color-secondary);
}

.block--footer {
  background: var(--color-footer);
}

.block--accent {
  background-color: var(--color-accent);
}

.block--svg {
  background-image: url(../images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.block--input {
  background-image: url(../images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block--svg {
    background-image: url(../images/bg-boost-desktop.svg);
  }

  .block--input {
    background-image: url(../images/bg-shorten-desktop.svg);
  }
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--1x5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Features */
.feature {
  border-radius: 5px;
  text-align: center;
  padding: 6.5rem 3.2rem 1.5rem;
  position: relative;
  margin: 5rem;
}

.feature__heading {
  font-size: 1.9rem;
  margin-bottom: 1.3rem;
}

.feature__icon {
  position: absolute;
  top: -37.5px;
}

@media screen and (min-width: 768px) {
  .feature {
    text-align: left;
    padding: 5.3rem 2.6rem 1.3rem;
  }

  .feature__heading {
    font-size: 1.8rem;
    margin-bottom: 1.1rem;
  }

  .feature__icon {
    left: 25px;
  }
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link__navbar {
  color: var(--color-secondary);
  transition: color 0.5s;
}

.link__navbar:hover {
  color: var(--color-text);
}

.list__navbar {
  background: var(--color-accent);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: 1.6rem 3rem;
  text-align: center;
  width: 100%;
}

.navbar__logo {
  width: 110px;
  height: 50px;
}

.navbar__components,
.navbar__registration {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navbar__components {
  padding-bottom: 2.5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.308);
}

.navbar__registration {
  margin-top: 0.9rem;
}

.navbar .btn {
  margin: 0;
  padding: 1.4rem 2.3rem;
  margin-bottom: 2rem;
}

.nav__toggler {
  align-self: center;
  margin-top: -1.1rem;
  cursor: pointer;
}

.navbar .hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .list__navbar {
    background: var(--color-secondary);
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0 0 5rem;
  }

  .navbar__components,
  .navbar__registration {
    align-items: center;
    border: 0;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin: 0;
    padding: 0;
  }

  .link__navbar {
    color: var(--color-text);
  }

  .link__navbar:hover {
    color: #333;
  }

  .navbar .btn {
    padding: 1rem 2.3rem;
    margin: 0;
  }

  .nav__toggler {
    display: none;
  }
}

/* Hero */
.hero__image {
  order: 1;
  width: 100%;
}

.hero__content {
  order: 2;
  text-align: center;
  max-width: 400px;
  margin: 2rem auto 0;
  font-size: 1.8rem;
}

.hero__heading {
  margin-bottom: 1.8rem;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 0 0 0 3rem;
  }
  .hero__image {
    order: 2;
  }

  .hero__content {
    align-self: center;
    order: 1;
    text-align: left;
    font-size: 1.6rem;
    max-width: 500px;
    margin: 0 auto;
  }

  .hero__heading {
    margin-bottom: 1rem;
  }
}

/* Link Shortening Block */
.link-shorten {
  max-width: 1000px;
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 7px;
}

@media screen and (min-width: 768px) {
  .link-shorten {
    padding: 3.3rem 5rem;
  }
}
