<article class="feature block--secondary">
  <span class="icon--container feature__icon">
    <svg class="icon--large">
      <use href="images/sprite.svg#icon-brand-recognition"></use>
    </svg>
  </span>
  <h3 class="feature__heading">Brand Recognition</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolore
    modi esse corrupti incidunt cumque nobis, ex veniam nemo ab in architecto,
    corporis natus reiciendis quasi, quia quis beatae ad.
  </p>
</article>
