<section class="block block--primary">
  <div class="container features">
    <header class="features__info">
      <h2>Advanced Statistics</h2>
      <p>
        Track how your links are performing across the web with our advanced
        statistics dashboard.
      </p>
    </header>
    <div class="grid grid--1x3 feature__blocks">
      <article class="feature block--secondary feature__brand">
        <span class="icon--container feature__icon">
          <svg class="icon--large">
            <use href="images/sprite.svg#icon-brand-recognition"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Brand Recognition</h3>
        <p>
          Boost your brand recognition with each click. Generic links don’t mean
          a thing. Branded links help instil confidence in your content.
        </p>
      </article>
      <article class="feature block--secondary feature__record">
        <span class="icon--container feature__icon">
          <svg class="icon--large">
            <use href="images/sprite.svg#icon-detailed-records"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Detailed Records</h3>
        <p>
          Gain insights into who is clicking your links. Knowing when and where
          people engage with your content helps inform better decisions.
        </p>
      </article>
      <article class="feature block--secondary feature__customizable">
        <span class="icon--container feature__icon">
          <svg class="icon--large">
            <use href="images/sprite.svg#icon-fully-customizable"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Fully Customizable</h3>
        <p>
          Improve brand awareness and content discoverability through
          customizable links, supercharging audience engagement.
        </p>
      </article>
    </div>
  </div>
</section>
