<footer class="block block--footer footer">
  <div class="container grid grid--1x5">
    <svg class="footer__logo">
      <use href="images/sprite.svg#logo"></use>
    </svg>
    <ul class="list">
      <li><h3>Features</h3></li>
      <li><a href="#" class="link--white">Link Shortening</a></li>
      <li><a href="#" class="link--white">Branded Links</a></li>
      <li><a href="#" class="link--white">Analytics</a></li>
    </ul>
    <ul class="list">
      <li><h3>Resources</h3></li>
      <li><a href="#" class="link--white">Blog</a></li>
      <li><a href="#" class="link--white">Developers</a></li>
      <li><a href="#" class="link--white">Support</a></li>
    </ul>
    <ul class="list">
      <li><h3>Company</h3></li>
      <li><a href="#" class="link--white">About</a></li>
      <li><a href="#" class="link--white">Our Team</a></li>
      <li><a href="#" class="link--white">Careers</a></li>
      <li><a href="#" class="link--white">Contacts</a></li>
    </ul>
    <div class="footer__social-media">
      <a href="#" class="link--social-media">
        <svg class="icon">
          <use href="images/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
      <a href="#" class="link--social-media">
        <svg class="icon">
          <use href="images/sprite.svg#icon-twitter"></use>
        </svg>
      </a>
      <a href="#" class="link--social-media">
        <svg class="icon">
          <use href="images/sprite.svg#icon-pinterest"></use>
        </svg>
      </a>
      <a href="#" class="link--social-media">
        <svg class="icon">
          <use href="images/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>
<section class="block block--footer copyright">
  Challenge by
  <a
    class="copyright__link"
    href="https://www.frontendmentor.io?ref=challenge"
    target="_blank"
  >
    Frontend Mentor
  </a>
  . Coded by
  <a class="copyright__link" href="https://github.com/lmnhsnl"> Laman Hasanli</a
  >.
</section>
