<nav class="block block--secondary">
  <div class="navbar container">
    <a href="/">
      <svg class="navbar__logo">
        <use href="images/sprite.svg#logo"></use>
      </svg>
    </a>
    <img
      class="icon--gray nav__toggler"
      src="images/menu.svg"
      alt="menu icon"
    />
    <div class="list__navbar hidden">
      <ul class="list navbar__components">
        <li>
          <a href="#" class="link--weighted link__navbar">Features</a>
        </li>
        <li><a href="#" class="link--weighted link__navbar">Pricing</a></li>
        <li>
          <a href="#" class="link--weighted link__navbar">Resources</a>
        </li>
      </ul>
      <ul class="list navbar__registration">
        <li><a href="#" class="link--weighted link__navbar">Login</a></li>
        <button class="btn btn--cyan btn--round">Sign up</button>
      </ul>
    </div>
  </div>
</nav>
